<div class="app-containerss">
  <div class="exchange-container">
    <app-header></app-header>
     @if (this.exchangeService.getCurrentStep() === 1) {
      <app-exchange-form></app-exchange-form>
    } @else if (this.exchangeService.getCurrentStep() === 2) {
      <app-transfer-details></app-transfer-details>
    } @else if (this.exchangeService.getCurrentStep() === 3) {
      <app-email-verification></app-email-verification>
    } @else if (this.exchangeService.getCurrentStep() === 4) {
      <app-payment-details></app-payment-details>
    } @else {
      <app-review></app-review>
    }

    <div class="powered-by">
      Powered by <img src="assets/images/honeycoin.png" alt="HoneyCoin" class="provider-logo"> HoneyCoin
    </div>
  </div>
</div>
